* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  background: #100e14;
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* HEADER */
#header {
  background: white;
  padding: 30px 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 35px;
  h1 {
    margin-right: 30px;
  }
  a {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
    color: black;
  }
}
.header-right {
  display: flex;
  align-items: center;
  gap: 40px;
  a {
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
    color: black;
  }
}
/* HEADER */

/* HERO */
#hero {
  padding: 60px 0;
}
.hero {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  color: white;
  h1 {
    font-size: 63px;
    font-weight: 400;
    letter-spacing: 2.880000114440918px;
  }
  h4 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
    color: rgba(255, 255, 255, 0.68);
  }
  button {
    background: #ff4343;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
    color: white;
    border-radius: 8px;
    padding: 13px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  h5 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
  }
}
.hero-phone {
  position: absolute;
  top: 0;
  right: 0;
}
.hero-img {
  position: relative;
}
/* HERO */

/* SHOOT */
#shoot {
  padding: 60px 0;
}
.shoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shoot-content {
  h1 {
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 1.9199999570846558px;
    color: white;
    margin-bottom: 30px;
  }
  p {
    font-size: 26px;
    font-weight: 400;
    line-height: 37.8px;
    letter-spacing: 1.0800000429153442px;
    color: rgba(255, 255, 255, 0.638);
  }
}
.shoot-img {
  position: relative;
}
.shoot-phone {
  position: absolute;
  top: 0;
  right: 0;
}
/* SHOOT */

/* LIME */
#lime {
  padding: 70px 0;
}
.lime {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lime-block {
  position: relative;
  width: 550px;
  height: 360px;
  background: #1a1e2eb0;
  border-radius: 30px;
}
.lime-text {
  h1 {
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 1.9199999570846558px;
    color: white;
    margin-bottom: 30px;
  }
  p {
    font-size: 26px;
    font-weight: 400;
    line-height: 37.8px;
    letter-spacing: 1.0800000429153442px;
    color: rgba(255, 255, 255, 0.638);
    span {
      font-size: 27px;
      font-weight: 700;
      color: white;
    }
  }
}
.lime-blue {
  position: absolute;
  width: 270px;
  height: 220px;
  bottom: 0;
  right: 40px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.lime-icon {
  position: absolute;
  top: -16px;
  right: -16px;
  width: 40px;
  height: 40px;
  background: rgb(40, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid gray;
  a {
    color: white;
    font-size: 22px;
  }
}
.lime-red {
  position: absolute;
  top: -60px;
  left: 40px;
  border-radius: 15px;
  width: 270px;
  height: 380px;
  background: linear-gradient(#ca7802, #ab0566);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h3 {
    color: white;
    font-size: 22px;
    line-height: 39px;
  }
}
/* LIME */

/* ADD */
#add {
  padding: 70px 0;
}
.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-text {
  h1 {
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 1.9199999570846558px;
    color: white;
    margin-bottom: 30px;
  }
  p {
    font-size: 26px;
    font-weight: 400;
    line-height: 37.8px;
    letter-spacing: 1.0800000429153442px;
    color: rgba(255, 255, 255, 0.638);
    span {
      font-size: 27px;
      font-weight: 700;
      color: white;
    }
  }
}
.add-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  width: 550px;
  height: 360px;
  background: #1a1e2eb0;
  border-radius: 30px;
}
.work-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: grey;
  border-radius: 50%;
  margin-right: -10px;
  a {
    color: white;
  }
}
.work {
  border-radius: 20px;
  padding: 20px 0;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  background: black;
  h3 {
    font-size: 15px;
    color: white;
    line-height: 24px;
    font-weight: 400;
    span {
      color: rgba(255, 255, 255, 0.365);
    }
  }
}
.blocks {
  width: 50px;
  height: 30px;
  background: #ff4556;
  border-radius: 30px;
}
/* ADD */

/* LINK */
#link {
  padding: 70px 0;
}
.link-text {
  h1 {
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 1.9199999570846558px;
    color: white;
    margin-bottom: 30px;
  }
  p {
    font-size: 26px;
    font-weight: 400;
    line-height: 37.8px;
    letter-spacing: 1.0800000429153442px;
    color: rgba(255, 255, 255, 0.638);
    span {
      font-size: 27px;
      font-weight: 700;
      color: white;
    }
  }
}
.link-block {
  position: relative;
  width: 550px;
  height: 360px;
  background: #1a1e2eb0;
  border-radius: 30px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-apps {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.link-icon {
  transition: 0.7s;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  width: 74px;
  height: 280px;
  margin-left: -10px;
  a {
    font-size: 27px;
    color: white;
  }
}
.link-icon:hover {
  transform: translateY(-30px);
}
.youtube {
  background: #ff000e;
}
.instagram {
  background: #c4007e;
}
.twitch {
  background: #8341f7;
}
.tiktok {
  background: #000;
}
.twitter {
  background: #05a6ff;
}
.linkedin {
  background: #006699;
}
.email {
  background: #24525c;
}
.whatsapp {
  background: #50ea6d;
  width: 50px;
  border-bottom-right-radius: 30px;
}
.link-shadow {
  width: 100%;
  height: 60%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.79));
  position: absolute;
  bottom: 0;
  border-radius: 0 0 30px 30px;
}
.link-title {
  position: absolute;
  bottom: 85px;
  right: -20px;
  width: 340px;
  background: white;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 7px;
  a {
    color: black;
    font-size: 30px;
    transform: rotate(-40deg);
  }
  h3 {
    font-weight: 400;
    color: gray;
    span {
      color: black;
    }
  }
}
/* LINK */

/* CRAFT */
#craft {
  padding: 60px 0;
}
.craft {
  text-align: center;
  h1 {
    font-size: 61px;
    font-weight: 400;
    line-height: 83.2px;
    letter-spacing: 2.559999942779541px;
    color: white;
  }
  p {
    font-size: 26px;
    font-weight: 400;
    line-height: 37.8px;
    color: rgba(255, 255, 255, 0.625);
  }
}
.craft-line {
  border: 3px solid red;
  width: 150px;
  margin: 30px auto;
}
.craft-block {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 70px;
}
.text-card {
  h2 {
    font-size: 29px;
    font-weight: 400;
    line-height: 34.8px;
    color: white;
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    span {
      font-size: 15px;
      font-weight: 400;
      color: rgba(255, 255, 255, 0.653);
    }
  }
}
.craft-card {
  position: relative;
  width: 250px;
  height: 450px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    transition: 0.7s;
  }
}
.craft-shadow {
  width: 100%;
  height: 60%;
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.837));
  bottom: 0;
  border-radius: 0 0 8px 8px;
}

.text-card {
  position: absolute;
  bottom: 0;
  left: 15%;
  bottom: 40px;
}
.craft-card:hover {
  img {
    transform: scale(1.1);
  }
}

/* CRAFT */

/* OFFER */

#offer {
  padding: 60px 0 0 0;
}
.offer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
    color: #8bffb0;
  }
  h1 {
    font-size: 58px;
    font-weight: 400;
    line-height: 83.2px;
    letter-spacing: 1.9199999570846558px;
    color: white;
  }
  p {
    font-size: 27px;
    font-weight: 400;
    line-height: 39.2px;
    letter-spacing: 0.41999998688697815px;
    color: #ffffff80;
  }
  img {
    padding: 30px 0;
  }
}
.offer-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 400px;
  background: #1d1b24;
  border-radius: 20px;
  h1 {
    font-size: 63px;
    font-weight: 400;
    letter-spacing: 2.0999999046325684px;
    color: white;
  }
  p {
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
    color: #ffffffb2;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 0.41999998688697815px;
    width: 280px;
    height: 60px;
    background: #ff4343;
    color: white;
    ion-icon {
      font-size: 50px;
    }
  }
}

/* OFFER */

/* LESSON */
#lesson {
  background: url("./img/lesson.png") no-repeat center/cover;
  min-height: 50vh;
}
.lesson {
  text-align: center;
  transform: translateY(-250px);
  h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48.84px;
    color: white;
  }
  h3 {
    font-size: 23px;
    font-weight: 400;
    color: #ffffffb2;
  }
}
.lesson-shadow {
  background: linear-gradient(180deg, #1d1b24 0%, rgba(0, 0, 0, 0) 100%);
  height: 432px;
}
/* LESSON */

/* COURSES */
#courses {
  padding: 100px 0;
}
.courses {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courese-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.courses-block {
  width: 329px;
  height: 429px;
  background: #85e9a5;
  transform: translateY(8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  h3 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    color: #95fec1;
    margin-left: 30px;
  }
  h1 {
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    color: white;
    margin-left: 30px;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: white;
    margin-left: 30px;
  }
  a {
    font-size: 19px;
    font-weight: 400;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 150px;
    margin-top: 70px;

    ion-icon {
      font-size: 32px;
    }
  }
}
.courses-image {
  position: relative;
}
.lesson-image-text {
  position: absolute;
  bottom: 30px;
  left: 15px;
  color: white;
  h2 {
    font-size: 19px;
    font-weight: 400;
    padding-bottom: 15px;
  }
  h4 {
    font-size: 13px;
    font-weight: 400;
  }
}
/* COURSES */

/* FOOTER */
#footer {
  padding: 60px 0;
}
.footer {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-block {
  display: flex;
  flex-direction: column;
  h3 {
    padding-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
  }
  a {
    padding: 8px 0;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
  }

}
.footer-icons{
  display:flex;
  gap: 12px;
  font-size: 30px;
  a {
    padding: 10px 0 0 0;
  color: white;

  }

}

/* FOOTER */
